.productInfo {
    font-size:20px;
    color:black;
    display:flex;
    background-color:rgba(34,64,84,0.2);
    padding:0.6rem;
    width:30rem;
  }
.product-title {
      font-size:40px;
      font-family:'Rubik', sans-serif;
      width:fit-content;
      color:transparent;
      -webkit-text-stroke: 2px #5D8AA8;
      animation:moveButton 800ms;
      font-weight:700;
  }
.confirmTitle {
    position:relative;
    font-size:4vw;
    top:17rem;
    right:4rem;
  }
.confirmInfo {
    display:flex;
    flex-direction:row;
  }
.checkOutdetails {
    gap:2rem;
    top:4rem;
    position:relative;
  }
  @media(max-width:1350px)
  {
    .confirmInfo {
      flex-direction:column;
    }
    .confirmTitle {
      font-size:50px;
      top:2rem;
      right:0rem;
    }
    .App .confirmSection {
      height:110vh;
    } 
    .productInfo {
      display:block;
      width:40rem;
    }
  }
  @media(max-width:700px)
  {
    .productInfo {
      /* display:flex; */
      width:fit-content;
      font-size:15px;
    }
    .confirmTitle {
      font-size:40px;
    }
    .product-title {
      font-size:30px;
    }
  }