@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// dark blue - rgba(34,64,84,1)
// airforce blue - #5D8AA8
//darker blue - #224054
// some sweet blue - #416780
.App {
}

header {
    height:10vh;
    /* background:rgb(50,94,124); */
    background: rgb(34,64,84);
background: linear-gradient(0deg, rgba(34,64,84,1) 0%, rgba(0,0,0,1) 100%);
}
.shampooDetails, .conditionerDetails, .expressDetails {
    height:73.3vh;
    display:flex;
    flex-direction:column;
}
.shampooDetails {
    background: rgb(56,119,161);
background: linear-gradient(0deg, rgba(56,119,161,1) 15%, rgba(34,64,84,1) 100%);
}
.conditionerDetails {
    background-image:url("/public/halfConditioner.png");
    background-repeat:no-repeat;
    background-position: bottom -14.5rem right 1rem;
    animation:animate 800ms;
}
.expressDetails {
    background-image:url("/public/halfExpress.png");
    background-repeat:no-repeat;
    background-position: bottom -14.5rem right 1rem;
    animation:animate 800ms;
}
.shampooTitle {
    position:relative;
    left:15rem;
    top:10rem;
    font-size:50px;
    font-family:'Rubik', sans-serif;
    width:fit-content;
    color:black;
    /* -webkit-text-stroke: 3px black; */
    animation:moveButton 800ms;
    font-weight:600;
}
.shampooDescription2 , .shampooDescription3{
    position:relative;
    font-family:'Rubik', sans-serif;
    color:black;
    left:15rem;
    animation:moveButton 800ms;
}
.shampooDescription2 {
    width:40vw;
    font-weight:400;
    right:20rem;
    top:14rem;
    font-size:25px;
    font-weight:400;
    
}
.shampooDescription3 {
    width:42vw;
    top:15rem;
    font-size:20px;
    font-weight:400;
}
.ingredientButton, .buyButton , .closeIngredients{
    position:relative;
    border-radius:20px;
    background:#232B2B;
    font-size:15px;
    cursor:pointer;
    border:solid #232B2B;
    height:3rem;
    color:#5D8AA8;
    transition:all 0.5s;
    top:16rem;
    left:15rem;
    animation:moveButton 400ms;
}
.shippingbuttons {
    display:flex;
    flex-direction:row;
    gap:2rem;
}
.buyButton {
    width:15rem;
}
.ingredientButton {
    width:10rem;
}
.ingredients {
    display:flex;
    flex-direction:column;
}
.closeIngredients {
    width:8rem;
    height:3rem;
}
.ingredientsSpan {
    position:absolute;
    width:38vw;
    bottom:11rem;
    left:15rem;
    border-radius:15px;
    /* background:#232B2B; */
    font-size:1vw;
    color:black;
    padding:0.5rem;
    animation:moveButton 400ms;
}
@keyframes animate {
    0% {
        opacity:0.3;
    }
    100% {
        opacity:1;
    }
}
@keyframes moveButton {
    0% {
        opacity:0.3;
    }
    100% {
        opacity:1;
    }
}
@media(max-width:1400px)
{
    .shampooDetails {
        background-image:url("/public/halfShampoo7.png");
        background-position: bottom -14.5rem right -5rem;
    }
    .conditionerDetails {
        background-image:url("/public/halfConditioner2.png");
        background-position: bottom -14.5rem right -7rem;
    }
    .expressDetails {
        background-image:url("/public/halfExpress2.png");
        background-repeat:no-repeat;
        background-position: bottom -14.5rem right -5rem;
    }
    .shampooTitle {
        top:5rem;
    }
    .shampooDescription2 {
        top:9rem;
    }
    .shampooDescription3 {
        top:10rem;
    }
    .shippingbuttons button {
        top:11rem;
    }
    .ingredientsSpan {
        /* height:7rem; */
        font-size:1vw;
    }
}
@media(max-width:1200px)
{
    .shampooDetails {
        background-position: bottom -14.5rem right -10rem;
    }
    .conditionerDetails {
        background-position: bottom -14.5rem right -10rem;
    }
    .shampooTitle {
        left:8rem;
        top:7rem;
        font-size:47px;
    }
    .shampooDescription2 , .shampooDescription3{
        left:8rem;
    }
    .shampooDescription2 {
        top:11rem;
        font-size:22px;
    }
    .shampooDescription3 {
        top:12rem;
        font-size:17px;
    }
    .shippingbuttons button {
        top:13rem;
        left:8rem;
        height:2.5rem;
        font-size:13px;
    }
    .buyButton {
        width:12rem;
    }
    .ingredientButton {
        width:7rem;
    }
    .ingredientsSpan {
        left:8rem;
        font-size:1.2vw;
        width:45vw;
    }
}
@media(max-width:1000px)
{
    .shampooDetails {
        background-image:url("/public/halfShampoo6.png");
        background-position: bottom  right -18rem;
    }
    .conditionerDetails {
        background-image:url("/public/halfConditioner3.png");
        background-position: bottom -14.5rem right -15rem;
    }
    .expressDetails {
        background-position: bottom -14.5rem right -10rem;
    }
}
@media(max-width:800px)
{
    .shampooDetails {
            background-position: bottom  right -20rem;
    }
    .shampooTitle {

        left:2rem;
        top:7rem;
        font-size:38px;
        font-weight:800;
    }
    .shampooDescription2 , .shampooDescription3{
        left:2rem;
    }
    .shampooDescription2 {
        width:40vw;
        font-weight:400;
        top:11rem;
        font-size:20px;
        font-weight:400;
    }
    .shampooDescription3 {
        top:12rem;
        font-size:15px;
        font-weight:350;
    }
    .shippingbuttons button {
        top:13rem;
        left:2rem;
        height:2.5rem;
        font-size:13px;
    }
    .buyButton {
        width:12rem;
    }
    .ingredientButton {
        width:7rem;
    }
    .ingredientsSpan {
        left:2rem;
        font-size:1.65vw;
        width:55vw;
        height:10vw;

    }
}
@media(max-width:700px)
{
    .conditionerDetails {
        background-image:url("/public/halfConditioner4.png");
        background-position: bottom -10.5rem right -22rem;
    }
    .expressDetails {
        background-image:url("/public/halfExpress4.png");
        background-repeat:no-repeat;
        background-position: bottom -14.5rem right -15rem;
    }
}
@media(max-width:640px)
{
    .shampooDetails {
        background-position: bottom  right -20rem;
    }
    .shampooTitle {

        left:2rem;
        top:7rem;
        font-size:32px;
        font-weight:900;
    }
    .shampooDescription2 , .shampooDescription3{
        left:2rem;
    }
    .shampooDescription2 {
        width:40vw;
        font-weight:400;
        top:11rem;
        font-size:16px;
        font-weight:400;
    }
    .shampooDescription3 {
        top:12rem;
        font-size:13px;
        font-weight:350;
    }
    .shippingbuttons button {
        top:13rem;
        left:3.5rem;
        height:1.5rem;
        font-size:11px;
    }
    .shippingbuttons {
        flex-direction:column;
        gap:1rem;
    }
    .buyButton {
        width:10rem;
    }
    .ingredientButton {
        width:7rem;
    }
    .ingredientsSpan {
        height:15vw;
        width:40vw;
        left:3.5rem;
    }
}
@media(max-width:500px)
{
    .shampooDetails {
        background-image:url("/public/halfShampoo72.png");
        background-position: bottom  right -23rem;
    }
    .shampooDescription2 {
        width:50vw;
    }
}
@media(max-width:460px)
{
    .conditionerDetails {
        background-image:url("/public/halfConditioner5.png");
        background-position: bottom -9.5rem right -26rem;
    }
    .conditionerTitle {
        font-size:28px;
    }
    .shampooDescription3 {
        width:45vw;
    }
    .ingredientsSpan {
        font-size:1.8vw;
    }
}