@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.App {
  text-align: center;
}
body {
  margin:0;
  padding:0;
}
ul {
  list-style-type: square;
}
ul li {
  width:40rem;
}
button {
  position:relative;
  border-radius:20px;
  background:#232B2B;
  font-size:20px;
  cursor:pointer;
  border:solid #232B2B;
  width:10rem;
  height:4rem;
  color:#5D8AA8;
  transition:all 0.5s;
  bottom:10rem;
}
.navbar {
  /* background: rgb(50,94,124);
  background: linear-gradient(0deg, rgba(50,94,124,1) 0%, rgba(56,119,161,1) 35%, rgba(56,119,161,1) 65%, rgba(50,94,124,1) 100%); */
  background: rgb(34,64,84);
background: linear-gradient(0deg, rgba(34,64,84,1) 0%, rgba(50,94,124,1) 10%, rgba(56,119,161,1) 35%, rgba(56,119,161,1) 65%, rgba(50,94,124,1) 90%, rgba(34,64,84,1) 100%);
  height:55vh;
  display: flex;
  flex-direction:row;
}
.shampoos {
  position:relative;
  left:35rem;
  bottom:3rem;
  height:30rem;
  height:500px;
  width:500px;
}
.navbar-text {
  height:40rem;
  position:relative;
  display:flex;
  flex-direction:row;
  left:20rem;
  width:25rem;
  top:5rem;
}
.navbar-text .secondaryText {
  right:19rem;
}
.gliss {
  position:relative;
  width:300px;
  height:300px;
  margin: auto;
  padding:auto;
  right:5rem;
  bottom:8rem;
}
.primaryText {
  position:relative;
  margin:auto;
  padding:auto;
  bottom:12rem;
  width:31rem;
  right:5rem;
  font-size:50px;
  font-family:'Rubik', sans-serif;
  font-weight:450;
}
.secondaryText {
  position:relative;
  margin:auto;
  padding:auto;
  font-family:'Rubik', sans-serif;
  font-size:40px;
  font-weight:400;
  bottom:5rem;
}
.breaking-line{
  padding-right:5px;
  position:relative;
  right:7rem;
  height:23rem;
  background:black;
}
.horizontal-line {
  position:relative;
  background:black;
  height:5px;
  width:80rem;
  top:28rem;
  right:24.5rem;
}
.firstSection, .secondSection, .thirdSection{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  height:70vh;
}
.firstSection {
  background: rgb(50,94,124);
  background: linear-gradient(0deg, rgba(50,94,124,1) 0%, rgba(56,119,161,1) 35%, rgba(56,119,161,1) 65%, rgba(50,94,124,1) 90%, rgba(34,64,84,1) 100%);
}
.secondSection{
  background: rgb(50,94,124);
  background: linear-gradient(0deg, rgba(50,94,124,1) 0%, rgba(56,119,161,1) 35%, rgba(56,119,161,1) 65%, rgba(50,94,124,1) 100%);
}
.thirdSection {
  background: rgb(34,64,84);
  background: linear-gradient(0deg, rgba(34,64,84,1) 0%, rgba(50,94,124,1) 10%, rgba(56,119,161,1) 35%, rgba(56,119,161,1) 65%, rgba(50,94,124,1) 90%);
}

.aquaShampoo, .aquaSpray{
  position:relative;
  top:13rem;
  left:6rem;
  height:500px;
  width:500px;
}
.aquaConditioner{
  width:500px;
  height:500px;
  position:relative;
  right:7rem;
  top:13rem;
}
.shampooDescription, .sprayDescription{
  height:35rem;
  position:relative;
  display:flex;
  flex-direction:column;
  width:50rem;
  top:14rem;
  right:20rem;
}
.conditionerDescription {
  height:35rem;
  position:relative;
  display:flex;
  flex-direction:column;
  width:50rem;
  top:14rem;
  left:20rem;
}

