.App {
  text-align: center;
}
body {
  margin:0;
  padding:0;
}

.gliss {
  position:relative;
  left:11.5rem;
  bottom:4rem;
}
.firstSection {
  display:flex;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(133,181,203,1) 35%, rgba(133,181,203,1) 65%, rgba(255,255,255,1) 90%);
  flex-direction:column;
  height:100vh;
}
.shampoos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top:4rem;
  padding-left:13rem;
}
.allShampoos {
  position:relative;
  height:800px;
  width:800px;
  bottom:8rem;
  right:3.5rem;
}
.shampooText {
  position:relative;
  bottom:5rem;
  right:4rem;
  font-size:30px;
  font-weight:bold;
  color:black;
}
.secondSection {
  display:flex;
  flex-direction:column;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(89,164,199,1) 35%, rgba(89,164,203,1) 65%, rgba(255,255,255,1) 90%);
  height:100vh;
}
.conditioners {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-left:13rem;
  padding-top:20rem;
  display:flex;
  flex-direction:column;
}
.allConditioners {
  position:relative;
  height:700px;
  width:700px;
  right:1rem;
}
.conditionerText {
  position:relative;
  bottom:1.5rem;
  left:13rem;
  font-size:30px;
  font-weight:bold;
  color:black;
}