@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.App {
  text-align: center;
}
body {
  margin:0;
  padding:0;
}
.aquaCheckout {
  border-radius:20px;
  background:white;
  font-size:20px;
  cursor:pointer;
  border:solid white;
  height:4rem;
  color:rgba(56,119,161,1);
  transition:all 0.5s;
  animation:moveButton 400ms;
  width:20rem;
}
.navbar {
  background:white;
  height:55vh;
  display: flex;
  flex-direction:row;
}
.shampoos {
  position:relative;  
  left:20vw;
  bottom:2vw;
  height:27vw;
  width:27vw;
  animation:moveButton 300ms;
  border-bottom:5px solid rgba(56,119,161,1);
}
.navbar-text {
  height:fit-content;
  position:relative;
  display:flex;
  flex-direction:row;
  left:12vw;
  color:rgba(56,119,161,1);
  width:fit-content;
  animation:moveButton 300ms;
  top:2.27rem;
}
.navbar-text .columnText {
  display:flex;
  flex-direction:column;
  height:fit-content;
  width:fit-content;
  position:relative;
  right:5rem;
  top:4rem;
  
}
.gliss {
  position:relative;
  width:400px;
  animation:moveButton 300ms;
  height:400px;
  right:4.5rem;
  bottom:1rem;
}
.primaryText {
  width:15rem;
  font-size:50px;
  animation:moveButton 300ms;
  font-family:'Rubik', sans-serif;
  font-weight:450;
}
.secondaryText {
  color:white;
  width:15rem;
  animation:moveButton 300ms;
  font-family:'Rubik', sans-serif;
  font-size:40px;
  font-weight:400;
}
.navbar .secondaryText, .navbar .primaryText{
  color:rgba(56,119,161,1);
}
.breaking-line{
  padding-right:5px;
  position:relative;
  right:7.25rem;
  height:23rem;
  background:#5D8AA8;
  animation:moveButton 300ms;
}
.firstSection, .secondSection, .thirdSection{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.firstSection, .thirdSection {
  height:70vh;
}
.secondSection {
  height:70vh;
}
.firstSection {

  background:rgba(56,119,161,1);
}
.secondSection{
  background: white;
}
.thirdSection {
  background:rgba(56,119,161,1);
  padding-bottom:1rem;
}
.secondSection .aquaCheckout {
  background:rgba(56,119,161,1);
  color:white;
  border:solid rgba(56,119,161,1);
}
.aquaShampoo{
  position:relative;
  top:4rem;
  left:6rem;
  height:620px;
  animation:moveButton 350ms;
  width:620px;
}
.aquaConditioner{
  width:650px;
  height:650px;
  position:relative;
  right:3rem;
  animation:moveButton 350ms;
  top:3rem;
}
.aquaSpray {
  position:relative;
  top:7rem;
  left:6rem;
  height:500px;
  animation:moveButton 350ms;
  width:500px;
}
.shampooDescription, .sprayDescription{
  position:relative;
  display:flex;
  flex-direction:column;
  animation:moveButton 350ms;
  width:50rem;
  top:12rem;
  gap:3rem;
  height:20rem;
  right:10rem;
}
.secondSection .secondaryText {
  color: rgba(56,119,161,1);
}
.firstSection .secondaryText, .secondSection .secondaryText, .thirdSection .secondaryText {
  width:fit-content;
}
.conditionerDescription {
  position:relative;
  display:flex;
  flex-direction:column;
  animation:moveButton 350ms;
  width:50rem;
  top:12rem;
  height:20rem;
  gap:3rem;
  left:12rem;
}
footer {
  background:white;
  height:10rem;
  position:relative;
  text-align:center;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
footer .glissFooter {
  display:flex;
  flex-direction:row;
  position:relative;
  left:7rem;
}
footer .glissFooter img {
  width:230px;
  height:100px;
  position:relative;
  top:2rem;
}
footer .glissFooter span {
  font-size:16px;
  font-family:'Rubik', sans-serif;
  font-weight:400;
  position:relative;
  top:5rem;
  width:fit-content;
  height:fit-content;
  color:rgb(50,94,124);
}
footer .footerInfoLeft, footer .footerInfoRight {
  font-size:18px;
  font-family:'Rubik', sans-serif;
  display:flex;
  position:relative;
  flex-direction:column;
  gap:10px;
  color:rgb(50,94,124);
}
footer .footerInfoLeft {
  left:10rem;
  width:15rem;
  top:1.5rem;
  height:fit-content;   
}
footer .footerInfoRight {
  display:flex;
  flex-direction:row;
  top:4rem;
  right:50px;
  height:fit-content;
}
footer .footerInfoRight a {
  text-decoration:none;
  color:black;
  width:fit-content;
  height:fit-content;
  color:rgb(50,94,124);
}

@keyframes moveButton {
  0% {
      opacity:0.3;
  }
  100% {
      opacity:1;
  }
}
@media(max-width:1500px)
{
  footer .glissFooter {
    left:0rem;
  }
  footer .glissFooter img {
    width:180px;
    height:80px;
  }
  footer .glissFooter span {
    font-size:12px;
  }
  footer .footerInfoLeft, footer .footerInfoRight {
    font-size:14px;
  }
  footer .footerInfoLeft {
    left:3rem;   
  }
  .shippingGliss {
    width:35vw;
    height:17.5vw;
  }
}
@media(max-width:1080px)
{
  footer .glissFooter {
    left:-3rem;
  }
  footer .glissFooter img {
    width:130px;
    height:60px;
    top:3rem;
  }
  footer .glissFooter span {
    font-size:12px;
  }
  footer .footerInfoLeft {
    font-size:10px;
  }
  footer .footerInfoRight {
    font-size:12px;
  }
  footer .footerInfoLeft {
    left:0rem;
    top:2.5rem;
  }
}
@media(max-width:800px)
{
  footer .glissFooter {
    left:-4rem; 
  }
  footer .glissFooter img {
    width:100px;
    height:50px;
    top:3.5rem;
  }
  footer .glissFooter span {
    font-size:10px;
  }
  footer .footerInfoLeft {
    font-size:8px;
  }
  footer .footerInfoRight {
    font-size:10px;
  }
  footer .footerInfoLeft {
    left:-3rem;
    top:2.5rem;
  }
}
@media(max-width:600px)
{
  footer .glissFooter {
    left:-5rem;
  }
  footer .glissFooter span {
    display:none;
  }
  footer .footerInfoRight {
    flex-direction:column;
  }
}
@media (min-width:1001px) and (max-width:1620px)
{
  .aquaCheckout {
    font-size:20px;
    height:3rem;
    width:20rem;
  }
  .shampoos {
    left:46vw;
    bottom:2vw;
    height:360px;
    width:360px;
  }
  .firstSection .shampooDescription
  {
    right:4vw;
    height:fit-content;
    width:fit-content;
  }
  .shampooDescription .secondaryText , .sprayDescription .secondaryText{
    font-size:30px;
    width:40vw;
  }
  .aquaShampoo {
    width:530px;
    height:530px;
    top:7rem;
    left:2rem;
  }
  .secondSection .conditionerDescription
  {
    height:fit-content;
    width:fit-content;
    left:4rem;
  }
  .conditionerDescription .secondaryText 
  {
    font-size:30px;
    width:40vw;
    z-index:100;
  }
  .aquaConditioner {
    width:530px;
    height:530px;
    right:0rem;
  }
  .aquaSpray {
    width:400px;
    height:400px;
    top:7rem;
  }
  .thirdSection .sprayDescription {
    width:fit-content;
    height:fit-content;
    right:3rem;
  }
  .navbar-text .columnText{
    right:6rem;
    top:3rem;
  }
  .gliss {
    width:350px;
    height:350px;
  }
  .breaking-line {
    display:none;
  }
  .navbar {
    height:45vh;
  }
  .navbar-text {
    width:10rem;
  }
}
@media (min-width:681px) and (max-width:1000px)
{
  .aquaCheckout {
    font-size:15px;
    height:2.5rem;
    width:15rem;
  }
  .firstSection , .secondSection, .thirdSection {
    height:60vh;
  }
  .shampoos {
    display:none;
  }
  .firstSection .shampooDescription
  {
    right:3rem;
    height:fit-content;
    width:fit-content;
  }
  .shampooDescription .secondaryText , .sprayDescription .secondaryText{
    font-size:25px;
    width:40vw;
  }
  .aquaShampoo {
    width:340px;
    height:340px;
    top:10rem;
    left:2rem;
  }
  .secondSection .conditionerDescription
  {
    height:fit-content;
    left:4rem;
  }
  .conditionerDescription .secondaryText 
  {
    font-size:20px;
    width:40vw;
    z-index:100;
  }
  .aquaConditioner {
    width:350px;
    height:350px;
    right:0rem;
    top:10rem;
  }
  .aquaSpray {
    width:320px;
    height:320px;
    top:10rem;
    left:2rem;
  }
  .thirdSection .sprayDescription {
    width:fit-content;
    height:fit-content;
    top:13rem;
    right:3rem;
  }
  .navbar-text .columnText{
    right:6rem;
    top:3rem;
  }
  .gliss {
    width:350px;
    height:350px;
  }
  .breaking-line {
    display:none;
  }
  .navbar {
    height:45vh;
  }
  .navbar-text {
    width:10rem;
  }
}
@media (min-width: 425px) and (max-width:680px) {
  .aquaCheckout {
    font-size:15px;
    height:2.5rem;
    width:15rem;
  }
  .shampoos {
    display:none;
  }
  .firstSection , .secondSection, .thirdSection{
    flex-direction:column;
  }
  .firstSection .shampooDescription
  {
    width:80vw;
    right:0rem;
    left:4rem;
    height:fit-content;
    top:-4rem;
  }
  .shampooDescription .secondaryText , .sprayDescription .secondaryText{
    font-size:20px;
    position:relative;
    bottom:20rem;
  }
  .aquaShampoo {
    width:320px;
    height:320px;
    top:12rem;
    left:15vw;
  }
  .secondSection .conditionerDescription
  {
    width:80vw;
    top:8.5rem;
    left:4rem;
  }
  .conditionerDescription .secondaryText 
  {
    font-size:20px;
    position:relative;
    bottom:2.5rem;
  }
  .conditionerDescription .aquaCheckout {
    position:relative;
    top:17rem;
  }
  .aquaConditioner {
    width:330px;
    height:330px;
    right:-20vw;
    top:-5rem;
  }
  .aquaSpray {
    width:250px;
    height:250px;
    top:13rem;
  }
  .thirdSection .sprayDescription {
    width:80vw;
    right:0rem;
    left:4rem;
    top:6rem;
  }
  .navbar-text .columnText{
    right:6rem;
    top:3rem;
  }
  .gliss {
    width:250px;
    height:250px;
  }
  .breaking-line {
    display:none;
  }
  .primaryText {
    font-size:6vw;
    width:fit-content;
  }
  .secondaryText {
    font-size:5vw;
    width:fit-content;
  }
  .navbar {
    height:35vh;
  }
  .navbar-text {
    width:10rem;
  }
}
@media(max-width:424px)
{
  .aquaCheckout {
    font-size:15px;
    height:2.5rem;
    width:15rem;
  }
  .shampoos {
    display:none;
  }
  .firstSection , .secondSection, .thirdSection{
    flex-direction:column;
  }
  .firstSection .shampooDescription
  {
    width:80vw;
    right:0rem;
    left:8vw;
    height:fit-content;
    top:-3rem;
  }
  .shampooDescription .secondaryText , .sprayDescription .secondaryText{
    font-size:20px;
    position:relative;
    bottom:20rem;
  }
  .aquaShampoo {
    width:300px;
    height:300px;
    top:13rem;
    left:6vw;
  }
  .secondSection .conditionerDescription
  {
    width:80vw;
    top:7rem;
    left:10vw;;
  }
  .conditionerDescription .secondaryText 
  {
    font-size:20px;
    position:relative;
    bottom:2.5rem;
  }
  .conditionerDescription .aquaCheckout {
    position:relative;
    top:17rem;
  }
  .aquaConditioner {
    width:270px;
    height:270px;
    right:-12vw;
    top:-7rem;
  }
  .aquaSpray {
    width:250px;
    height:250px;
    top:15.5rem;
    left:3rem;
  }
  .thirdSection .sprayDescription {
    width:70vw;
    right:0rem;
    left:4rem;
    top:6rem;
  }
  .navbar-text .columnText{
    right:6rem;
    top:3rem;
  }
  .gliss {
    width:250px;
    height:250px;
  }
  .breaking-line {
    display:none;
  }
  .primaryText {
    font-size:6vw;
    width:fit-content;
  }
  .secondaryText {
    font-size:5vw;
    width:fit-content;
  }
  .navbar {
    height:35vh;
  }
  .navbar-text {
    width:10rem;
  }
}